<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <meta name="public-url" content="{{APP_URL}}" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/atlassian-ui-kit/bundle.css"
      media="all"
    />
    <link rel="stylesheet" href="/public/css/styles.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/css/jira-configuration.css"
      media="all"
    />
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  </head>

  <body class="aui-page-hybrid">
    <div class="jiraConfiguration">
      <header class="jiraConfiguration__header">
        <h1 class="jiraConfiguration__header__title">GitHub configuration</h1>

        {{#if hasConnections}}
          <button
            class="jiraConfiguration__header__title__cta ak-button ak-button__appearance-primary add-organization-link"
          >Connect GitHub organization</button>
        {{/if}}
      </header>

      <section class="jiraConfiguration__info">
        <p>
          After you connect your GitHub account or organization to Jira and
          include issue keys in branch names, commit messages, and pull request
          titles, you will be able to:</p>
        <ul class="jiraConfiguration__info__list">
          <li>Create branches and pull requests from your Jira project.</li>
          <li>View deployment information within your linked Jira issue.</li>
          <li>View deployment pipelines over a timeline in your insights.</li>
        </ul>
        <p>Even if your organization is still syncing, you can stat linking issue keys in your development work immediately.</p>
      </section>

      <section class="jiraConfiguration content">
        {{#if hasConnections}}

          <table class="jiraConfigurationTable aui">
            <thead>
              <tr>
                <th>Connected organization</th>
                <th>Repository Access</th>
                <th>Sync Status
                  <span
                    id="sync-status-modal-btn"
                    class="sync-status-modal-btn"
                  >ℹ️</span></th>
                <th>Settings</th>
              </tr>
            </thead>
            <tbody>
              {{#each connections}}
                <tr>
                  {{! Organization }}
                  <td>
                    <img
                      class="jiraConfigurationTable__avatar"
                      src="{{account.avatar_url}}"
                      height="24"
                      width="24"
                    />
                    {{account.login}}</td>

                  {{! Repos Synced }}
                  <td>
                    {{#ifAllReposSynced numberOfSyncedRepos totalNumberOfRepos}}
                      <span>{{totalNumberOfRepos}}</span>
                    {{else}}
                      <span>{{numberOfSyncedRepos}}
                        /
                        {{totalNumberOfRepos}}</span>
                    {{/ifAllReposSynced}}
                    {{#if isGlobalInstall}}
                      <span>(All)</span>
                    {{else}}
                      <span>(Selected)</span>
                    {{/if}}
                  </td>

                  {{! Sync status }}
                  <td>
                    {{#if syncWarning}}
                      <a
                        href="#trigger"
                        data-ak-tooltip="{{syncWarning}}"
                        data-ak-tooltip-position="top"
                        class="muted-link"
                      >
                        <span
                          id="{{id}}-status"
                          class="jiraConfigurationTable__{{toLowerCase
                              (replaceSpaceWithHyphen syncStatus)
                            }}
                            jiraConfigurationTable__syncStatus"
                        > {{syncStatus}} </span>*
                      </a>
                    {{else}}
                      <span
                        id="{{id}}-status"
                        class="jiraConfigurationTable__{{toLowerCase
                            (replaceSpaceWithHyphen syncStatus)
                          }}
                          jiraConfigurationTable__syncStatus"
                      > {{syncStatus}} </span>
                    {{/if}}
                  </td>

                  {{! Settings }}
                  <td headers="basic-username">...</td>
                </tr>

              {{/each}}

            </tbody>
          </table>

        {{else}}
          <div class="jiraConfiguration__empty">
            <img
              class="jiraConfiguration__empty__image"
              src="/public/assets/github-integration.svg"
              alt="Connecting GitHub and Jira"
            />
            <h3 class="jiraConfiguration__empty__header">Connect GitHub to Jira
              Software</h3>
            <p class="jiraConfiguration__empty__message">Choose a GitHub
              organization to connect and start including issue keys in
              branches, commit messages or pull requests to see development
              insights in Jira.</p>
            <button
              class="ak-button ak-button__appearance-primary add-organization-link"
            >Connect GitHub organization</button>
          </div>
        {{/if}}
      </section>

    </div>

    <script src="/public/js/jira-configuration.js" nonce="{{nonce}}"></script>
    <!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
    <!-- DO NOT TOUCH!!! THIS IS NEEDED FOR CONNECT OR ELSE IT WILL CAUSE AN ERROR -->
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      nonce="{{nonce}}"
    ></script>
  </body>
</html>
