<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <meta name="public-url" content="{{APP_URL}}" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/atlassian-ui-kit/bundle.css"
      media="all"
    />
    <link rel="stylesheet" href="/public/css/styles.css" media="all" />
    <link rel="stylesheet" href="/public/css/global.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/css/jira-configuration.css"
      media="all"
    />
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  </head>

  <body class="aui-page-hybrid">
    <div class="jiraConfiguration">
      <header class="jiraConfiguration__header">
        <h1 class="jiraConfiguration__header__title">GitHub configuration</h1>

        {{#if hasConnections}}
          <button
            class="jiraConfiguration__header__title__cta ak-button ak-button__appearance-primary add-organization-link"
          >Connect GitHub organization</button>
        {{/if}}
      </header>

      <section class="jiraConfiguration_content">
        {{#if hasConnections}}
          <p>
            After you connect your GitHub account or organization to Jira and
            include issue keys in branch names, commit messages, and pull
            request titles, you will be able to:</p>
          <ul class="jiraConfiguration__content__list">
            <li>Create branches and pull requests from your Jira project.</li>
            <li>View deployment information within your linked Jira issue.</li>
            <li>View deployment pipelines over a timeline in your insights.</li>
          </ul>
          <p>Even if your organization is still syncing, you can stat linking
            issue keys in your development work immediately.</p>

          <table class="jiraConfiguration__table aui">
            <thead class="jiraConfiguration__table__head">
              <tr>
                <th class="jiraConfiguration__table__head__title">Connected
                  organization</th>
                <th class="jiraConfiguration__table__head__title">Repository
                  access</th>
                {{! TODO  add on click and open modal }}
                <th class="jiraConfiguration__table__head__title">Sync status
                  <span
                    class="getSubscription__info__icon aui-icon aui-iconfont-info-filled"
                  >Information</span>
                </th>
                <th class="jiraConfiguration__table__head__title">Settings</th>
              </tr>
            </thead>

            <tbody>
              {{#each connections}}
                <tr>
                  {{! Organization }}
                  <td class="jiraConfiguration__table__cell">
                    <img
                      class="jiraConfiguration__table__cell__avatar delete-connection-link"
                      src="{{account.avatar_url}}"
                      height="24"
                      width="24"
                      data-installation-id="{{id}}"
                    />
                    <span
                      class="jiraConfiguration__table__cell__orgName"
                    >{{account.login}}</span>
                  </td>

                  {{! Repos Synced }}
                  <td class="jiraConfiguration__table__cell">
                    {{#if isGlobalInstall}}
                      <span>All repos</span>
                    {{else}}
                      <span>Only select repos</span>
                    {{/if}}

                    <span class="jiraConfiguration__table__syncCount">
                      {{ifAllReposSynced
                        numberOfSyncedRepos
                        totalNumberOfRepos
                      }}
                    </span>

                    <a href="/github/subscriptions/{{id}}">
                      <span
                        class="jiraConfiguration__table__edit aui-icon aui-icon-small aui-iconfont-new-edit"
                      >
                        Edit
                      </span>
                    </a>
                  </td>

                  {{! Sync status }}
                  <td class="jiraConfiguration__table__cell">
                    {{#if syncWarning}}
                      <a
                        href="#trigger"
                        data-ak-tooltip="{{syncWarning}}"
                        data-ak-tooltip-position="top"
                        class="muted-link"
                      >
                        <span
                          id="{{id}}-status"
                          class="jiraConfiguration__table__{{toLowerCase
                              (replaceSpaceWithHyphen syncStatus)
                            }}
                            jiraConfiguration__table__syncStatus"
                        >
                          {{syncStatus}}
                        </span>*
                      </a>
                    {{else}}
                      <span
                        id="{{id}}-status"
                        class="jiraConfiguration__table__{{toLowerCase
                            (replaceSpaceWithHyphen syncStatus)
                          }}
                          jiraConfiguration__table__syncStatus"
                      >
                        {{syncStatus}}
                      </span>
                      {{#if (inProgressSync syncStatus)}}
                        <div class="jiraConfiguration__loaderContainer">
                          <aui-spinner size="small"></aui-spinner>
                        </div>
                      {{/if}}
                    {{/if}}
                  </td>

                  {{! Settings }}
                  <td class="jiraConfiguration__table__cell">...</td>
                </tr>

              {{/each}}

              {{! Need new designs to include error messaging when an org returns an error }}
              {{!-- {{#each failedConnections}}
              <tr>
                <td class="error-message">
                  #{{id}}
                  {{#if deleted}}
                    This installation seems to be removed from GitHub but not
                    from the database
                  {{else}}
                    There was an error getting the information of this
                    installation
                  {{/if}}
                </td>
                <td>
                  <span title="{{installedAt.absolute}}">
                    {{installedAt.relative}}
                  </span>
                </td>
                <td>
                  <button
                    class="ak-button ak-button__appearance-link delete-connection-link"
                    data-installation-id="{{id}}"
                  >Remove</button>
                </td>
              </tr>
            {{/each}} --}}

            </tbody>
          </table>

        {{else}}
          <div class="jiraConfiguration__empty">
            <img
              class="jiraConfiguration__empty__image"
              src="/public/assets/github-integration.svg"
              alt="Connecting GitHub and Jira"
            />
            <h3 class="jiraConfiguration__empty__header">Connect GitHub to Jira
              Software</h3>
            <p class="jiraConfiguration__empty__message">Choose a GitHub
              organization to connect and start including issue keys in
              branches, commit messages or pull requests to see development
              insights in Jira.</p>
            <button
              class="ak-button ak-button__appearance-primary add-organization-link"
            >Connect GitHub organization</button>
          </div>
        {{/if}}
      </section>

    </div>

    <script src="/public/js/jira-configuration.js" nonce="{{nonce}}"></script>
    <!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
    <!-- DO NOT TOUCH!!! THIS IS NEEDED FOR CONNECT OR ELSE IT WILL CAUSE AN ERROR -->
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      nonce="{{nonce}}"
    ></script>
    <script
      src="/public/aui/aui-prototyping.js"
      integrity="sha512-DkENIkhNP5r+sfHUC5hhFAzApGNR5HTu1fzymBBhXZma4zytOUQh8qhz5xc3nSbSQfdYI6qdI281YwUNmubEMw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      nonce="{{nonce}}"
    ></script>
  </body>
</html>
